<section class="banner" id="banner">
  <div class="content">
    <h2>Llega a nuevos clientes con Room Fest</h2>
    <p>Manten actualizados tu servcios y solicita la app de RA para aumentar tus solicitudes</p>
    <a pageScroll [pageScrollDuration]="700" [pageScrollEasing]="myEasing" href="#perfil" class="btn-banner">Mis Servicios</a>
  </div>
</section>
<section class="profile row d-xl-flex justify-content-xl-center "  id="perfil">
	<div class="content col-md-12">
		<h2>Bienvenido</h2>
		<p>Gracias a tu perfil los anfitriones pueden conocer tus servicios en cualquie hora del día</p>
<!-- 	</div>
	<div class="container col-md-8"> -->
		<div class="profileInfo">
      <table class="table">
        <thead class="header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripción</th>
            <th scope="col">Producto</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{request.nombre}}</td>
            <td>{{request.fecha}}</td>
            <td>{{request.direccion}}</td>
            <td>{{request.producto}}</td>
            <td class="row d-xl-flex justify-content-xl-between">
              <button class="btn btn-primary col-md-5 d-xl-flex justify-content-xl-center" (click)='updateStatus(request.id,"Aceptar")' data-toggle="tooltip" data-placement="top" title="Aceptar">
                <i class="material-icons">done</i>
              </button>
              <button class="btn btn-danger col-md-5 d-xl-flex justify-content-xl-center"  (click)='updateStatus(request.id,"Rechazar")' data-toggle="tooltip" data-placement="top" title="Rechazar">
                <i class="material-icons">cancel</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
			<!-- <div class="table">
				<div class="row header">
					<div class="cell">#</div>
					<div class="cell">Nombre</div>
					<div class="cell">Fechas</div>
					<div class="cell">Descripción</div>
					<div class="cell"></div>
				</div>

				<div class="row">
					<div class="cell" data-title="#">000</div>
					<div class="cell" data-title="Nombre">nombre del anfitrion</div>
 					<div class="cell" data-title="Fecha">fecha del evento</div>
					<div class="cell" data-title="Descripción">ubicacion dele evento</div>
					<div class="cell" data-title=""><input type="submit" name="" value="Aceptar"></div>
				</div>
			</div> -->
		</div>
	</div>
</section>
