<!-- <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="background: 9168AA;box-shadow: 0px 4px 7px rgba(33,37,41,0.64);">
  <div class="container-fluid"><img src="assets/img/logo.png" style="width: 54px;" /><a class="navbar-brand" href="#"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div
          class="collapse navbar-collapse d-inline-flex d-xl-flex justify-content-end align-items-end align-content-end justify-content-xl-end" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" [routerLink]="['my-events']" style="margin-right: 20px;">Mis eventos</a></li>
              <li class="nav-item"><a class="nav-link active" [routerLink]="['create']" style="margin-right: 20px;">Organizar</a></li>
              <li class="nav-item" style="width: 106px;height: 39px;"><a class="nav-link d-xl-flex justify-content-xl-start align-items-xl-center active" routerLink='/roompage' style="margin-right: 20px;width: 134px;">Cuenta<i class="material-icons d-flex align-items-center align-content-center justify-content-xl-center" style="width: 25px;margin-left: 10px;height: 25px;">account_circle</i></a></li>
          </ul>
  </div>
  </div>
</nav>
 -->
 <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
  <div class="container-fluid"><img src="assets/img/logo.png" style="  width: 52px;
" /><a class="navbar-brand" href="#"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
          id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item d-flex d-md-flex d-lg-flex d-xl-flex justify-content-start align-items-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                  style="  width: 300px;
"><i class="material-icons d-xl-flex justify-content-xl-center" style="  height: 23px;
color: rgb(255,255,255);
">account_circle</i><a class="nav-link d-flex justify-content-center align-items-center active"  style="  width: 150px;
">{{username}}</a></li>
          </ul>
      </div>
  </div>
</nav>
