<app-navbar></app-navbar>
<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand"> <a [routerLink]="['users']">Usuarios</a></li>
          <li> <a  [routerLink]="['manage-events']" class="d-xl-flex align-items-xl-center">Eventos</a></li>
          <li> <a  [routerLink]="['manage-products']" class="d-xl-flex align-items-xl-center">Productos</a></li>
      </ul>
      <div class="logout d-xl-flex justify-content-xl-center">
        <button class="btn btn-outline-danger" (click)='logOut()'><a >Cerrar sesión</a></button>
      </div>
  </div>
  <div class="page-content-wrapper">
      <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" ><i class="material-icons">menu</i></a>
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
