<div class="wrap">
<div class="wrapper">
 <div class="header">
<div class="logo">
        <a href="index.html"><img src="assets/imgGuest/logo.png" /></a>
</div>
	  <!-- 	<link rel="stylesheet" href="css/skin.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../flexslider.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
    <script src="js/modernizr.js"></script>-->
<div class="wrap">
	<section class="slider">
        <div class="flexslider">
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item *ngFor='let src of sources'>
              <div class="view w-100">
                <img class="d-block w-100" [src]="src" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </section>

 <!-- jQuery -->
  <!-- <script src="js/jquery.min.js"></script>
 <script src="js/jquery.flexslider.js"></script>

  <script type="text/javascript">

  </script> -->
</div>
<div class="content">
<div class="content-top">
		<div class="grid">
				<div class="user">
					<div class="desc">
						<p>Evento</p>
					</div>
				</div>
				<div class="services-desc">
					<p>Descripción <br>
            {{description}}
          </p>

				</div>
		</div>
		<div class="grid1">
				<div class="services">
					<div class="desc">
						<p>Dirección</p>
					</div>
				</div>
			   <div class="tariff">
				   	 <div class="tariff-image"> </div>
			 		<div class="text">
						<p>{{address}}</p>
						<!-- <a href="https://www.google.com.mx/maps/preview" target="_blank"><p><span class="yellow">VER MAPA</span></p></a> -->
					</div>
				<div class="clear"></div>
				</div>
		</div>
		<div class="grid2">
				<div class="setting">
					<div class="desc">
						<p>FECHA & HORA</p>
					</div>
				</div>
				<div class="tariff">
					<div class="text">
						<p>{{fecha}}<br>{{hora}}</p>
					</div>
				</div>
		</div>
		<div class="clear"></div>
</div>
</div>
<div class="footer">
 <div class="footer-main">
	<div class="sub-footer">
		 <div class="footer-menu">
			<ul>
				<h3>Crea tu evento </h3>
		    	<li><a href="">Visita FEST ROOM</a></li>

		    </ul>
		 </div>
	</div>
	<div class="sub-footer">
			   <h2>¿Qué encontrarás?</h2>
			   <p> Podrás tener el control de tu evento de manera online ¡No te lo puedes perder! </p>
	</div>
	<div class="sub-footer1">
		<h2>Síguenos</h2>
			<div class="footer-pic">
					<p><a href="#" class="link-1">Facebook</a></p>
 			</div>
 		 	<div class="footer-pic">
					<p><a href="#" class="link-3">Instagram</a></p>
 		  	</div>
 	</div>
	<div class="clear"></div>
</div>
</div>
<div class="footer-bottom">
	<div class="copy">
		<p>&copy; 2020 ROOM FEST. All rights Reserved </p>
	</div>
</div>
</div>
</div>
</div>
