<!-- <footer class="py-5 bg-black">
  <div class="container">
      <p class="text-center text-white m-0 small">Copyright © Brand 2020</p>
  </div>
</footer> -->

<footer class="d-xl-flex justify-content-xl-center" id="myFooter">
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-12 col-sm-6 col-md-3">
              <h1 class="logo" style="margin-top:30px;"><img src="assets/img/logo.png" class='img-fluid'></h1>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h3>¿Qué encontrarás?</h3>
            <p> Podrás tener el control de tu evento de manera online ¡No te lo puedes perder! </p>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h2>Síguenos</h2>
            <div class="footer-pic">
                <p><a href="#" class="link-1">Facebook</a></p>
             </div>
              <div class="footer-pic">
                <p><a href="#" class="link-3">Instagram</a></p>
               </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <h5>Contactanos</h5>
              <ul>
                  <li>Sonora #169, col. Republica</li>
                  <li><a>tel. 844-263-8879<br /></a></li>
                  <li><a>correo: room_fest@gmail.com</a></li>
              </ul>
          </div>
      </div>
      <div class="row footer-copyright d-xl-flex justify-content-xl-end align-items-xl-end">
          <div class="col">
            <p>&copy; 2020 ROOM FEST. All rights Reserved </p>
          </div>
      </div>
  </div>
</footer>
