<div class="gift row">
  <div class="gift__img col-sm-7 col-12"><img [src]="productImg" /></div>
  <div class="gift__info col-sm-5 col-12">
      <h2 class="gift__name">{{productName}}</h2>
      <div class="gift__details">
          <p>Detalles:<br>{{productDescription}}</p>
      </div>
      <div class="gift__bottom row">
          <div class="gift__price-wrap col-12 col-sm-12">
              <div class="gift__today-price"><span>Costo: </span><span class="gift__data">${{productPrice}}</span></div>
          </div>
          <div class="gift__cta-wrap col-12 col-sm-6">
            <div><img class="img-fluid"  [src]="vumark"/></div>
          </div>
          <div class="gift__cta-wrap col-12 col-sm-6">
            <div><img [src]="productAR"/></div>
          </div>
      </div>
  </div>
</div>
