<section>
  <div class="card bg-dark text-white col-md-5 aboutus">
    <h3>Acerca de Nosotros</h3>
    <p>
      En un día especial, queremos que todo salga perfecto. En ROOM FEST contamos con un sistema de organización de eventos totalmente online, que junto con el uso de nuevas tecnologías como lo es la Realidad Aumentada, la experiencia de un anfitrión de un evento será única y mucho más sencilla, para preocuparse menos y disfrutar más.
Además, es una excelente herramienta para que proveedores locales de productos o servicios relacionados con ésta área, puedan generar nuevas oportunidades de venta
    </p>
  </div>
</section>
