<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
  <div class="container-fluid"><img src="assets/img/logo.png" style="width: 40px;" /><a class="navbar-brand" href="#"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div
          class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" [routerLink]="['productos']">Productos</a></li>
              <li class="nav-item"><a class="nav-link active" [routerLink]="['solicitudes']">Solicitudes</a></li>
              <li class="nav-item">
                <a class="nav-link active d-xl-flex justify-content-xl-center align-items-xl-center" [routerLink]="['account']">
                  <i class='material-icons' style='margin-right:10px'>account_circle</i>
                  <span>Cuenta</span>
                </a>
              </li>
          </ul>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
